@font-face {
  font-family: "European Teletext";
  src: url("fonts/EuropeanTeletext.ttf") format("truetype");
}

@font-face {
  font-family: "Galax Teletext";
  src: url("fonts/MODE7GX0.ttf") format("truetype");
}

@font-face {
  font-family: "ModeSeven";
  src: url("fonts/modeseven.ttf") format("truetype");
}

@font-face {
  font-family: "Fairfax HD";
  src: url("fonts/FairfaxHD.ttf") format("truetype");
}

.cept-screen {
  background: none;
  width: fit-content;
  padding: 0;
  transform: scale(1.5, 1);
  transform-origin: left top;
}

.cept-above, .cept-below {
  min-width: 100%;
  min-height: 20px;
}

.cept-row {
  padding: 0 20px;
  white-space: pre;
}

.cept-span {
  display: inline-block;
  transform-origin: left bottom;
}

.cept-ul {
  text-decoration: underline;
}

.cept-dw {
  transform: scale(2, 1);
}

.cept-dha, .cept-dhb {
  transform: scale(1, 2);
}

.cept-ds {
  transform: scale(2, 2);
}

.cept-dha, .cept-ds {
}

.cept-dhb {
  transform-origin: left top;
}
